body{
    background-image: url(Desktop1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #C3C3C3;
}
h3{
    color: #C3C3C3;
}
h4{
    color: #C3C3C3;
}
p{
    color: #FFFFFF;
}
